# Importing Dependencies

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Data collection

In [2]:
df=pd.read_csv('C:\\Users\\Dell\\Desktop\\Data Science\\big mart data.csv')

In [3]:
df.sample(5)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
995,FDO34,17.70,Low Fat,0.050112,Snack Foods,165.9816,OUT010,1998,NaN,Tier 3,Grocery Store,167.7816
3180,FDV59,13.35,Low Fat,0.080387,Breads,219.2166,OUT010,1998,NaN,Tier 3,Grocery Store,1524.0162
1108,FDT38,18.70,Low Fat,0.057654,Dairy,83.1566,OUT045,2002,NaN,Tier 2,Supermarket Type1,1606.5754
5244,FDT37,14.15,Low Fat,0.035241,Canned,255.5014,OUT013,1987,High,Tier 3,Supermarket Type1,5355.0294
5634,FDE02,NaN,Low Fat,0.212294,Canned,92.2778,OUT019,1985,Small,Tier 1,Grocery Store,469.3890

In [4]:
df.shape

(8523, 12)

In [5]:
print('The Number of Rows',df.shape[0])
print('The Number of Columns',df.shape[1])

The Number of Rows 8523
The Number of Columns 12

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [7]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [8]:
df["Item_Weight"].value_counts()

12.150    86
17.600    82
13.650    77
11.800    76
15.100    68
          ..
7.275      2
7.685      1
9.420      1
6.520      1
5.400      1
Name: Item_Weight, Length: 415, dtype: int64

# Handling Missing Values

In [ ]:
# Replace the item - weight column by mean

In [9]:
df["Item_Weight"].fillna(df["Item_Weight"].mean(),inplace=True)

In [ ]:
# Repalce the outlet _size column by mode beacues it is categoical data

In [10]:
df["Outlet_Size"].value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [11]:
df["Outlet_Size"]=df["Outlet_Size"].fillna(df["Outlet_Size"].mode()[0])

In [12]:
df.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64