# Importing Dependencies

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Data collection

In [2]:
df=pd.read_csv('C:\\Users\\Dell\\Desktop\\Data Science\\big mart data.csv')

In [3]:
df.sample(5)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
3789,FDK48,7.445,Low Fat,0.037709,Baking Goods,74.7354,OUT045,2002,NaN,Tier 2,Supermarket Type1,1128.5310
3749,FDY15,18.250,Regular,0.171174,Dairy,156.4630,OUT045,2002,NaN,Tier 2,Supermarket Type1,938.7780
4335,FDU23,12.150,Low Fat,0.000000,Breads,164.7184,OUT046,1997,Small,Tier 1,Supermarket Type1,3962.8416
3422,NCE07,8.180,Low Fat,0.013184,Household,143.1154,OUT018,2009,Medium,Tier 3,Supermarket Type2,1843.6002
8475,NCS17,18.600,Low Fat,0.080627,Health and Hygiene,92.5436,OUT049,1999,Medium,Tier 1,Supermarket Type1,378.1744

In [4]:
df.shape

(8523, 12)

In [5]:
print('The Number of Rows',df.shape[0])
print('The Number of Columns',df.shape[1])

The Number of Rows 8523
The Number of Columns 12

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB